<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <glassMapper.getGlassLoaders>
        <processor type="Books.Feature.Banner.Pipelines.BannerGlassLoader, Books.Feature.Banner" />
      </glassMapper.getGlassLoaders>
    </pipelines>
  </sitecore>
</configuration>