<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <glassMapper.getGlassLoaders>
        <processor type="Books.Feature.Navigation.NavigationGlassLoader, Books.Feature.Navigation" />
      </glassMapper.getGlassLoaders>
    </pipelines>
  </sitecore>
</configuration>