@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@model Books.Foundation.Orm.Models.sitecore.templates.Project.Page_Types.Error
<link href="~/Style/Error.css" rel="stylesheet" type="text/css" />
Copy
<div class="container">
    @Html.Glass().RenderImage(x => x.Image, new
    {
        @class = "error-image"
    }, isEditable: true))

    <p class="text-white">@Model.Description__Error</p>

    @Html.Glass().BeginRenderLink(x => x.Link)
</div>