@using Glass.Mapper.Sc.Web.Mvc
@model Books.Feature.Navigation.Controllers.HeaderViewModel
<div class="navbar">
    <link href="~/Styles/Nav.css" rel="stylesheet" type="text/css" />
    @Html.Glass().RenderImage(x => x.Image, new { @class = "navbar-brand" })
    @foreach (var item in Model.Navigation)
    {
        if (item.ChildLinks.Count() > 0)
        {
            <div class="dropdown">
                @Html.Glass().RenderLink(x => item.Link)
                <button class="dropbtn">
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
            <div class="dropdown-content">
                @foreach (var child in item.ChildLinks)
                {
                    @Html.Glass().RenderLink(x => child.Link)
                }
            </div>
        }
    }
    @*<script src="~/Scripts/Nav.js"></script>*@
</div>
