<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Books.Foundation.CustomErrors.Pipelines.Custom404Resolver, Books.Foundation.CustomErrors" />
      </httpRequestBegin>
    </pipelines>
    <settings>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value" value="/404"/>
      </setting>
    </settings>
  </sitecore>
</configuration>