<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="type">Books.Foundation.CustomLinks.Utility.CustomLinkManager, Books.Foundation.CustomLinks</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
          <patch:attribute name="addAspxExtension">false</patch:attribute>
          <patch:attribute name="alwaysIncludeServerUrl">false</patch:attribute>
          <patch:attribute name="languageLocation">filePath</patch:attribute>
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
          <patch:attribute name="shortenUrls">true</patch:attribute>
          <patch:attribute name="useDisplayName">false</patch:attribute>
        </add>
      </providers>
    </linkManager>
  </sitecore>
</configuration>