@inherits WebViewPage
@{
    Layout = null;
}
<link href="~/Styles/Card2.css" rel="stylesheet" type="text/css" />
    <br />
    <br />
        <h3 class="text-white" id="Title"> Featured Books</h3>
    <br />
        <div class="card-deck">
                @Html.Sitecore().DynamicPlaceholder("card")
        </div>
    <br />
    <br />
    <br />
