<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <glassMapper.getGlassLoaders>
        <processor type="Books.Feature.Search.Pipelines.SearchGlassLoader, Books.Feature.Search" />
      </glassMapper.getGlassLoaders>
    </pipelines>
  </sitecore>
</configuration>